<h1 class="listadoproductoshome">Listado de Productos indexhandler</h1>

{{#each products}}
    <h2>{{this.nombre}}</h2>
    <p>{{this.apellido}}</p>
    <p>{{this.edad}}</p>
{{/each}}

<script src="/js/main.js"></script>